@use "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-main;
  color: #333;
  line-height: 1.6;
  padding: 15px;
  border-radius: 40px;
}

main {
  background-color: variables.$white;
}
