// Colors
$primary: #2e4ead;
$secondary: #6d6c6c;
$background: #213a88;
$light-gray: #f3f3f3;
$white: #fff;
$black: #000;
$yellow: #ffff00;
$blue-light: #6c8ef4;

// Fonts
$font-main: Arial, sans-serif;

// Spacing
$padding-sm: 10px;
$padding-md: 20px;
$padding-lg: 50px;

// Sizes
$border-radius: 5px;
$btn-radius: 40px;
