@import "tailwindcss";

/* For Webkit-based browsers (Chrome, Safari) */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge, and Firefox */
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}